section.copy.full {
    text-align: center;
    margin: @gutter-sm 0;
    h2 {
        margin-bottom: @gutter-sm;
        &.orange {
            color: @orange;
        }
    }
    p {
        font-size: 20/@rem;
        line-height: 26/@rem;
        max-width: 850px;
        margin: 0 auto;
    }
    @media @mobileMax {
        margin: -50px 0 30px 0;
    }
    body.page-template-fillings-crowns-restoration & {
        @media screen and (max-width: 375px){
            margin-top: -30px !important;
        }
    }
}
section.wrapper {
    + section.copy.full {
        @media @mobileMax {
            margin: 20px 0;
            body.page-template-kids-dental-exams &,
            body.page-template-kids-custom-mouthguard &,
            body.page-template-kids-dental-fillings-crowns & { margin: -50px 0 30px 0; }
        }
    }
}
.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 auto;
    width: 75%;
}

.video-grid .video-container {
    margin: 0 auto;
    text-align: center;
}

.video-grid .video-container .video-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 35px;
    color: orange;
}

.video-grid .video-container iframe {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
