section.copy.full {
    text-align: center;
    margin: @gutter-sm 0;
    h2 {
        margin-bottom: @gutter-sm;
        &.orange {
            color: @orange;
        }
    }
    p {
        font-size: 20/@rem;
        line-height: 26/@rem;
        max-width: 850px;
        margin: 0 auto;
    }
    @media @mobileMax {
        margin: -50px 0 30px 0;
    }
    body.page-template-fillings-crowns-restoration & {
        @media screen and (max-width: 375px) {
            margin-top: -30px !important;
        }
    }
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    .video-container {
        display: flex;
        flex-direction: column;

        .video-title {
            margin-bottom: 10px;
        }

        iframe {
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9; // Ensures the iframe maintains a 16:9 aspect ratio
        }
    }
}
