.signs_and_symptoms {
    color: white;
    .signs_and_symptoms__content {
        display: flex;
        gap: 30px;
    }
    .signs_and_symptoms__cards {
        color: black;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 75%;
    }
    .signs_and_symptoms__card {
        display: flex;
        gap: 20px;
        border-radius: 5px;
        background: white;
        color: black;
    }
    .signs_and_symptoms__images {
        display: flex;
        flex-direction: column;
        width: 25%;
        img {
            width: 100%;
        }
    }
}